body {
    background-color: #355C7D;
    display: flex;
    align-items: center;
    justify-content: center;
    --padding: 7em;
}

.container{
    width: 550px;
    height: auto;
    min-height: 450px;
    margin: 100px auto;
    background-color: #ECECEC;
    border-radius: 5px;
}

.ss{
    font-size: .8em;
    font-weight: 0;
    color: #F38181;
}