* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {

    width: 100%;
    height: 100vh;
    margin: 0px;
    background-color: #575669;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {

    background: #ffffff;
    /*width: 487px;
    height: 655px;*/
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    /*overflow: hidden;*/

}

.header {

    background-color: #394867;
    color: #ffffff;
    font-family: 'Poppins Medium', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.form {

    padding: 20px;

}

.form-control {

    margin-bottom: 20px;
    padding: 10px;
    position: relative;

}

.form-control label {

    color: #7C7795;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {

    border: 2px solid #635985;
    /*color: #635985;*/
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 5px;
}

.form-control small {

    position: absolute;
    left: 0;
    margin-left: 10px;
    visibility: hidden;

}

.form button {

    background-color: #635985;
    border: 2px solid #635985;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

/*Error and success*/

.form-control.success input{

    border-color: #83BD75;
}

.form-control.error input{

    border-color: #FF6969;
}

.form-control.error small{

    visibility: visible;
    color: #FF6969;

}


/*
height: 30px;
bottom: 0;
left: 0;
visibility: hidden; 
*/