*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #EEF2F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: #ffff;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
}

.header{
    background-color: #92B4EC;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.form{
    padding: 30px;
    padding-bottom: 0;
    display: flex;
    justify-content:center;
    flex-direction: column;
    /*align-items: center;*/
}

.form-control{
    margin-bottom: 25px;
    padding: 5px;
    position: relative;
}

.form-control label{
    color: #404258;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #E3E3E3;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 5px;

}

.form-control small{
    position: absolute;
    left: 0;
    margin-left: 10px;
    visibility: hidden;
}

.form button{
    background-color: #92B4EC;
    border: 2px solid #92B4EC;
    color: #ffff;
    font-size: 14px;
    width: 150px;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    align-self: center;
}

.form-result input{
    border: 2px solid #E3E3E3;
    background-color: #ffff;
    display: block;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    margin-top: 25px;
    visibility: hidden;
}

#by{
    font-size: 10px;
    color: #92B4EC;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    
}

.form-result.correct input{
    visibility: visible;
}

.form-control.succes input{
    border-color: #83BD75;
}

.form-control.error input{
    border-color: #FF6969;
}

.form-control.error small{
    visibility: visible;
    color: #FF6969;
}

.form-control.succes small{
    visibility: visible;
    color: #83BD75;
}
